<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Go lang Web Development</title>
</head>
  <body>

<!-- this is how to assign a value to a variable -->
{{$wisdom := .}}
    <h1>The meaning of life: {{$wisdom}}</h1>

  </body>
</html>
