<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Go lang Web Development</title>
</head>
  <body>


      {{range .}}
        <li>{{.Capital}} - {{.Weather}}</li>
      {{end}}

  </body>
</html>
